head {
  font-family: "Crimson", cursive;
  padding: 30px;
  background-color: #5dbb93;
  text-align: center;
}

header {
  font-family: "Crimson", cursive;
  padding: 30px;
  background-color: #5dbb93;
  text-align: center;
}
