@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

body {
  font-family: "Crimson Text", serif;
  margin: 0;
}
.HistoriaBody {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #eec489;
  text-align: center;
}

.HäslaBody {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #eeb085;
  text-align: center;
}
.ReceptBody {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #c26a4a;
  text-align: center;
}

header {
  padding: 30px;
  background-color: #5dbb93;
  text-align: center;
}
.HistoriaHeader {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #eec489;
  text-align: center;
}

.HälsaHeader {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #eeb085;
  text-align: center;
}

.ReceptHeader {
  font-family: "Crimson Text", serif;
  margin: 0;
  background-color: #c26a4a;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.HeaderLinks {
  text-decoration: none;
  color: #e4002e;
}

#Historia {
  padding: 30px;
  background-color: #eec489;
  text-align: center;
}

.HistoriaLink {
  text-decoration: none;
  color: #00f13c;
}

#Hälsa {
  padding: 30px;
  background-color: #eeb085;
  text-align: center;
}

.HälsaLink {
  text-decoration: none;
  color: #b83100;
}

#Recept {
  padding: 30px;
  background-color: #c26a4a;
  text-align: center;
}

.ReceptLink {
  text-decoration: none;
  color: #e7c500;
}

footer {
  padding: 30px;
  background-color: #eb5857;
  text-align: center;
}
.Interactive:hover {
  transform: scale(1.075);
  transition: 0.5s;
}
.HistoriaLink:hover {
  transform: 2;
}
